<section>

  <h2 class="text-center my-5">Vehiculos de {{vm.usuarioActivo}}</h2>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Matricula</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="vehiculo in vm.listaVehiculos">
          <td>{{vehiculo.getMarca()}}</td>
          <td>{{vehiculo.getModelo()}}</td>
          <td>{{vehiculo.getmatricula()}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle font-weight-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Reparaciones
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="" ng-click="vm.listaReparaciones(vehiculo.getmatricula())">Ver reparaciones</a>
                <a class="dropdown-item" href="" ng-click="vm.registrarRepacariones(vehiculo.getmatricula())">Agregar reparaciones</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>