<section>
  <div class="container">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Perfil de {{vm.userInfo.getNombre()}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" src="{{vm.userInfo.getPhoto()}}" class="img-circle img-responsive" width="100%">
            </div>

            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Nombre</td>
                    <td>{{vm.userInfo.getNombreCompleto()}}</td>
                  </tr>
                  <tr>
                    <td>Fecha de nacimiento</td>
                    <td>{{vm.userInfo.getFecha() | date:'dd MMM yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>Cantidad de vehiculos registrados</td>
                    <td>
                      <a ui-sref="main.listarVehiculos" href="">{{vm.userInfo.getCantidadVehiculos()}}</a>
                    </td>
                  </tr>

                  <tr>
                    <tr>
                      <td>Correo electrónico</td>
                      <td>
                        <a href="mailto:{{vm.userInfo.getCorreo()}}">{{vm.userInfo.getCorreo()}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Número de cédula</td>
                      <td>{{vm.userInfo.getcedula()}}</td>
                    </tr>
                    <tr>
                      <td>Dirección</td>
                      <td>{{vm.userInfo.getDireccion()}}</td>
                    </tr>


                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-envelope"></i>
          </a>
          <span class="pull-right">
            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </span>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>