<h1>Vehiculos a nombre de {{vm.usuarioActivo}}</h1>

<div class="col-4 my-3">

    <form ng-submit="vm.registrarVehiculo(vm.nuevoVehiculo)">

      <div class="form-group">
        <label for="">Modelo del Vehiculo</label>
        <input type="text" class="form-control" ng-model="vm.nuevoVehiculo.modelo">
      </div>

      <div class="form-group">
        <label for="">Matricula</label>
        <input type="text" class="form-control" ng-model="vm.nuevoVehiculo.matricula">
      </div>

      <div class="form-group">
        <label for="">Marca del vehiculo</label>
        <input type="text" class="form-control" ng-model="vm.nuevoVehiculo.marca">
      </div>

      <button type="submit" class="btn btn-success">Registrar</button>

      <button type="button" class="btn btn-danger" ng-click="vm.volver()">Regresar</button>

    </form>

</div>

<div class="col-9">
  <table class="table">
    <thead>
        <tr>
          <th>Modelo</th>
          <th>Matricula</th>
          <th>Marca</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vehiculo in vm.listaVehiculos">
        <td>{{vehiculo.modelo}}</td>
        <td>{{vehiculo.matricula}}</td>
        <td>{{vehiculo.marca}}</td>
        <td>
          <button type="button" class="btn btn-warning" ng-click="vm.registrarArreglo(vehiculo)">Reparaciones</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

