<h1>Reparaciones del vehiculo {{vm.infoVehiculos}}</h1>

<div class="col-4 my-3">

  <form ng-submit="vm.registrarReparacion(vm.nuevaReparacion)">

    <div class="form-group">
      <label for="">Costo</label>
      <input type="text" class="form-control" ng-model="vm.nuevaReparacion.costo">
    </div>

    <div class="form-group">
      <label for="">Descripcion</label>
      <input type="text" class="form-control" ng-model="vm.nuevaReparacion.descripcion">
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>

    <button type="button" class="btn btn-danger" ng-click="vm.volver()">Regresar</button>

  </form>

</div>

<div class="col-9">
<table class="table">
  <thead>
      <tr>
        <th>Costo</th>
        <th>Descripcion</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reparacion in vm.listaReparaciones">
      <td>{{reparacion.costo}}</td>
      <td>{{reparacion.descripcion}}</td>
    </tr>
  </tbody>
</table>
</div>

