<h1>
  Hola soy la vista de usuarios
</h1>

<div class="col-md-4">

  <form name="formRegistroUsuarios" autocomplete="off" ng-submit="vm.registrarUsuario(vm.nuevoUsuario)" >
    
    <div class="form-group">
      <label for="txtid">Número de cédula</label>
      <input type="text" class="form-control" id="txtid" pattern="[0-9]+" aria-describedby="campoCedulaRequerido" ng-model="vm.nuevoUsuario.cedula" name="formRegistroUsuarios.cedula" required>
      <small id="campoCedulaRequerido" class="form-text text-muted">Este campo es requerido</small>
    </div>

    <div class="form-group">
      <label for="txtNombre">Nombre del cliente</label>
      <input type="text" class="form-control" id="txtNombre" pattern="[a-zA-Z]+[-_]*[a-zA-Z]+" aria-describedby="campoNombreRequerido" ng-model="vm.nuevoUsuario.nombre" name="formRegistroUsuarios.nombre" required>
      <small id="campoNombreRequerido" class="form-text text-muted">Este campo es requerido</small>
    </div>

    <div class="form-group">
      <label for="txtApellido1">Primer apellido del cliente</label>
      <input type="text" class="form-control" id="txtApellido1" pattern="[a-zA-Z]+[-_]*[a-zA-Z]+" aria-describedby="campoApellido1Requerido" ng-model="vm.nuevoUsuario.apellidoUno" name="formRegistroUsuarios.apellido1" required>
      <small id="campoApellido1Requerido" class="form-text text-muted">Este campo es requerido</small>
    </div>

    <div class="form-group">
      <label for="txtNombre">Segundo apellido del cliente</label>
      <input type="text" class="form-control" id="txtNombre" pattern="[a-zA-Z]+[-_]*[a-zA-Z]+" aria-describedby="campoApellido2Requerido" ng-model="vm.nuevoUsuario.apellidoDos" name="formRegistroUsuarios.apellido2"> 
      <small id="campoApellido2Requerido" class="form-text text-muted">Este campo es requerido</small>
    </div>

    <div class="form-group">
      <label for="numPhone">Teléfono</label>
      <input type="phone" class="form-control" id="numPhone" pattern="[0-9]+" aria-describedby="campoTelefonoRequerido" ng-model="vm.nuevoUsuario.telefono" name="formRegistroUsuarios.telefono" required>
      <small id="campoTelefonoRequerido" class="form-text text-muted">Este campo es requerido</small>
    </div>

    <div class="form-group">
      <label for="txtEmail">Correo electrónico</label>
      <input type="text" class="form-control" id="txtEmail" aria-describedby="campoEmailRequerido" ng-model="vm.nuevoUsuario.correo" name="formRegistroUsuarios.correo" required>
      <small id="campoEmailRequerido" class="form-text text-muted">Este campo es requerido</small>
    </div>

    <button type="submit" class="btn btn-primary btn-raised" ng-disabled="formRegistroUsuarios.$invalid">Registrar</button>
  </form>
</div>
